@using OnlineTicariOtomasyon.Models.Sınıflar
@model List<KargoDetay>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
@using (Html.BeginForm("Index", "Kargo", FormMethod.Get))
{
    <p>
        Kargo Takip Numarası : @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}

<br />
<table class="table table-bordered table-sm">
    <tr>
        <th>Personel</th>
        <th>Alıcı</th>
        <th>Takip No</th>
        <th>Tarih</th>
        <th>Detay</th>
    </tr>
    @foreach (var u in Model)
    {
    <tr>
        <td>@u.Personel</td>
        <td>@u.Alici</td>
        <td>@u.TakipKodu</td>
        <td>@Convert.ToDateTime(u.Tarih).ToString("dd/MM/yyyy")</td>
        <td><a href="/Kargo/KargoDetay/@u.TakipKodu" class="btn btn-info btn-sm">Detay</a></td>
    </tr>
    }
</table>
<a href="/Kargo/YeniKargo" class="btn btn-primary btn-sm ">Yeni Kargo Girişi</a>        