@using OnlineTicariOtomasyon.Models.Sınıflar
@model List<Personel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Personel Listesi</h2>
<br />
<table class="table table-striped">
    <tr>
        @*<th>PERSONEL ID</th>*@
        <th>PERSONEL AD</th>
        <th>PEROSNEL SOYAD</th>
        <th>RESİM</th>
        <th>ÇALIŞTIĞI DEPARTMAN</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>SATIŞLAR</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            @*<td>@x.PersonelID</td>*@
            <td>@x.PersonelAd</td>
            <td>@x.PersonelSoyad</td>
            <td>
                <img src="@x.PersonelGorsel"style="width:80px;height:80px;"/>
            </td>


            <td>@x.Departman.DepartmanAd</td>
            <td><a href="/Personel/PersonelSil/@x.PersonelID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Personel/PersonelGetir/@x.PersonelID" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Departman/DepartmanPersonelSatis/@x.PersonelID" class="btn btn-info">Satış Geçmişi</a></td>
        </tr>
    }
</table>

<a href="/Personel/PersonelEkle" class="btn btn-primary">Yeni Personel</a>
