@using OnlineTicariOtomasyon.Models.Sınıflar
@model List<SatisHareket>
@{
    ViewBag.Title = "CariDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Cari Satış Bilgileri</h2>

<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cari Adı: @ViewBag.cari</li>
</ol>
<table class="table table-condensed">
    <tr>
        <th>ÜRÜN</th>
        <th>PERSONEL</th>
        <th>FİYAT</th>
        <th>ADET</th>
        <th>TOPLAM TUTAR</th>
        <th>TARİH</th>
        <th>YAZDIR</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Urun.UrunAd</td>
            <td>@x.Personel.PersonelAd @x.Personel.PersonelSoyad</td>
            <td>@x.Fiyat</td>
            <td>@x.Adet</td>
            <td>@x.ToplamTutar</td>
            <td>@Convert.ToDateTime(x.Tarih).ToString("dd/MM/yyyy")</td>
            <td><a href="#" class="btn btn-outline-dark btn-sm">Yazdır</a></td>
        </tr>
    }

</table>