@using OnlineTicariOtomasyon.Models.Sınıflar
@model List<SatisHareket>
@{
    ViewBag.Title = "SatisDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Satış Detayı</h2>

<br />

<table class="table table-condensed table-sm">
    <tr>
        <th>SATIŞ ID</th>
        <th>ÜRÜN</th>
        <th>CARİ</th>
        <th>PERSONEL</th>
        <th>FİYAT</th>
        <th>ADET</th>
        <th>TOPLAM TUTAR</th>
        <th>TARİH</th>
       
    </tr>
    @foreach (var x in Model)
    {
    <tr>
        <td>@x.SatisID</td>
        <td>@x.Urun.UrunAd</td>
        <td>@x.Cari.CariAd @x.Cari.CariSoyad</td>
        <td>@x.Personel.PersonelAd @x.Personel.PersonelSoyad</td>
        <td>@x.Fiyat</td>
        <td>@x.Adet</td>
        <td>@x.ToplamTutar</td>
        <td>@Convert.ToDateTime(x.Tarih).ToString("dd/MM/yyyy")</td>

    </tr>
    }
</table>
<button class="btn btn-default btn-sm" style="background-color:dodgerblue">Yazdır</button>