@using OnlineTicariOtomasyon.Models.Sınıflar
@model List<Urun>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
@using (Html.BeginForm("Index", "Urun", FormMethod.Get))
{
    <p>
        Ürün Adı: @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}
<br />
<h2>Ürün Listesi</h2>
<br />
<table class="table table-bordered table-sm">
    <tr>
        <th>ÜRÜN ADI</th>
        <th>MARKA</th>
        <th>STOK</th>
        <th>ALIŞ FİYATI</th>
        <th>SATIŞ FİYATI</th>
        <th>KATEGORİ</th>
        <th>İŞLEMLER</th>
       
    </tr>
        @foreach (var u in Model)
        {
    <tr>
        <td>@u.UrunAd</td>
        <td>@u.Marka</td>
        <td>@u.Stok</td>
        <td>@u.AlisFiyat ₺</td>
        <td>@u.SatisFiyat ₺</td>
        <td>@u.Kategori.KategoriAd</td>
       
        <td><a href="/Urun/Urunsil/@u.UrunID" class="btn btn-danger btn-sm">Sil</a>
        <a href="/Urun/UrunGetir/@u.UrunID" class="btn btn-success btn-sm">Güncelle</a>
        <a href="/Urun/SatisYap/@u.UrunID" class="btn btn-warning btn-sm">Satış Yap</a></td>
    </tr>
            }
</table>
<a href="/Urun/YeniUrun" class="btn btn-primary btn-sm">Yeni Ürün</a>
